registry=https://nexus3.dotin.ir/repository/Dotin-NPM/
strict-ssl=true
network-concurrency=4
fetch-retries=5
fetch-retry-factor=2
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
fetch-timeout=120000
