registry=https://registry.npmjs.org/
replace-registry-host=always
engine-strict=true
strict-ssl=true
fetch-retries=3
fetch-retry-factor=2
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
fetch-timeout=120000
maxsockets=8
fund=false
